<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Über uns!</h1>
                <hr class="light">
                <p class="text-faded">Wir sind ein leidenschaftliches Simracing-Team, spezialisiert auf iRacing, das sich aus einer großen Bandbreite an unterschiedlichen Fahrern zusammensetzt. Vom ehrgeizigen Profi bis zum gemütlichen Sonntagsfahrer ist bei uns alles vertreten und jeder herzlich willkommen. Wir sind alle engagierte Enthusiasten, die die Faszination des Motorsports in die virtuelle Welt übertragen. Unser Ziel ist es, unsere Fähigkeiten ständig zu verbessern und uns in den besten Simracing-Meisterschaften und -Ligen zu behaupten und Spaß miteinander zu haben.</p>
            </div>
        </div>
    </div>
</section>
