<section class="bg-dark" class="no-padding" id="drivers">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1 class="section-heading">Fahrer</h1>
            <hr class="light">

            <div class="row no-gutter">
                {% for image in site.static_files %}
                    {% if image.path contains 'img/drivers' %}
                    <div class="col-lg-3 col-sm-4 col-xs-6 gap">
                        <a class="driver-box">
                            <img src="{{ site.baseurl }}{{ image.path }}" class="img-responsive" alt="Switch it gallery image">
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
