  <footer class="bg-dark">
      <div class="container-fluid text-center">
          <div class="row no-gutter">
              <div class="col-lg-12">
                  <div class="call-to-action">
                      <h1>Powered by</h1>
                  </div>
              </div>
              <div class="col-lg-12">
                  <a style="width: 100%" href="https://simraceshop.de"  rel="noopener nofollow" title="Simraceshop">
                      <img src="img/Simraceshop.jpg" class="img-responsive" style="display: inherit" alt="">
                  </a>
              </div>
          </div>
      </div>
  </footer>
