<section class="bg-light" class="no-padding" id="gallery">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1 class="section-heading">Trailer</h1>
            <hr class="light">
            <div class="iframe-container">
                <iframe width="100%"src="https://www.youtube-nocookie.com/embed/30oZ0zNaE9k?si=-sLaCxB2KNvuafK9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            </div>
    </div>
</section>
